.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $bp-750) {
        flex-direction: column;
        align-items: stretch;
    }

    @media only screen and (max-width: $bp-620) {
        width: 65%;
    }

    @media only screen and (max-width: $bp-480) {
        width: 85%;
    }
}